.title { 
    max-width: 100%;
    background-color: #FDFAE3;
    width: 100vw;
    height: 90vh;
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

}