.contacto { 
    max-width: 100%;
    background-color: #d66b96;
    width: 100vw;
    height: 40vh;
    color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}